@charset "UTF-8";

@font-face {
  font-family: "togglicon";
  src:url("fonts/togglicon.eot");
  src:url("fonts/togglicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/togglicon.woff") format("woff"),
    url("fonts/togglicon.ttf") format("truetype"),
    url("fonts/togglicon.svg#togglicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "togglicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="togglicon-"]:before,
[class*=" togglicon-"]:before {
  font-family: "togglicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.togglicon-logo:before {
  content: "a";
}
